In [27]:
import pandas as pd

In [28]:
from tensorflow import keras

In [29]:
from tensorflow.keras import layers

In [30]:
from kerastuner.tuners import RandomSearch

In [31]:
df = pd.read_csv('/home/satvik/f drirectory/air_quality_index/Real_Combine.csv')

In [32]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM      PM 2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [33]:
X  = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [34]:
X

         T    TM    Tm     SLP     H   VV     V    VM
0      7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4
1      7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1
2      6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1
3      8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6
4     12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2
...    ...   ...   ...     ...   ...  ...   ...   ...
1088  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9
1089  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2
1090  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8
1091  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5
1092  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3

[1093 rows x 8 columns]

In [35]:
def build_model(hp):
  model = keras.Sequential()
  for i in range(hp.Int('num_layers',2,20)):
    model.add(layers.Dense(units = hp.Int('units_'+str(i),min_value = 32,max_value = 512, step = 32),activation = 'relu'))
  model.add(layers.Dense(1, activation = 'linear'))
  model.compile(
    optimizer = keras.optimizers.Adam(hp.Choice('learning_rate',[1e-2,1e-3,1e-4])),
    loss = 'mean_absolute_error',
    metrics =  ['mean_absolute_error']
  )
  return model

In [36]:
  tuner = RandomSearch(build_model,
                       objective = 'val_mean_absolute_error',
                       max_trials=5,executions_per_trial = 3,
                       directory = 'project',
                       project_name = 'Air_quality_index')

INFO:tensorflow:Reloading Oracle from existing project project/Air_quality_index/oracle.json
INFO:tensorflow:Reloading Tuner from project/Air_quality_index/tuner0.json

In [37]:
tuner.search_space_summary()

Search space summary
Default search space size: 18
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}
units_2 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_3 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_4 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_5 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_6 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_7 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_8 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_9 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_10 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_11 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_12 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_13 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_14 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_15 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}

In [38]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3 , random_state = 0)

In [39]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

INFO:tensorflow:Oracle triggered exit